<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Profile pic:</b>
  <%=h @user.profile_pic_id %>
</p>

<p>
  <b>Bio:</b>
  <%=h @user.bio %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @user.twitter_id %>
</p>

<p>
  <b>Facebook:</b>
  <%=h @user.facebook_id %>
</p>

<p>
  <b>Featured status:</b>
  <%=h @user.featured_status %>
</p>

<p>
  <b>Karma:</b>
  <%=h @user.karma %>
</p>

<p>
  <b>Openid identifier:</b>
  <%=h @user.openid_identifier %>
</p>

<p>
  <b>Twitter auth code:</b>
  <%=h @user.twitter_auth_code %>
</p>

<p>
  <b>Facebook auth code:</b>
  <%=h @user.facebook_auth_code %>
</p>

<p>
  <b>Crypted password:</b>
  <%=h @user.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%=h @user.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%=h @user.persistence_token %>
</p>

<p>
  <b>Single access token:</b>
  <%=h @user.single_access_token %>
</p>

<p>
  <b>Perishable token:</b>
  <%=h @user.perishable_token %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Failed login count:</b>
  <%=h @user.failed_login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Created at:</b>
  <%=h @user.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @user.updated_at %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>