<p>
  <b>Content type:</b>
  <%=h @story.content_type %>
</p>

<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>By line:</b>
  <%=h @story.by_line %>
</p>

<p>
  <b>One liner:</b>
  <%=h @story.one_liner %>
</p>

<p>
  <b>Lede:</b>
  <%=h @story.lede %>
</p>

<p>
  <b>Body:</b>
  <%=h @story.body %>
</p>

<p>
  <b>Travel date:</b>
  <%=h @story.travel_date %>
</p>

<p>
  <b>Season:</b>
  <%=h @story.season %>
</p>

<p>
  <b>Seasonal:</b>
  <%=h @story.seasonal %>
</p>

<p>
  <b>Venue:</b>
  <%=h @story.venue_id %>
</p>

<p>
  <b>User:</b>
  <%=h @story.user_id %>
</p>

<p>
  <b>Parent:</b>
  <%=h @story.parent_id %>
</p>

<p>
  <b>Lft:</b>
  <%=h @story.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%=h @story.rgt %>
</p>

<p>
  <b>Poi timestamp:</b>
  <%=h @story.poi_timestamp %>
</p>

<p>
  <b>Average user rating:</b>
  <%=h @story.average_user_rating %>
</p>

<p>
  <b>Helpful votes:</b>
  <%=h @story.helpful_votes %>
</p>

<p>
  <b>Editorial workflow status:</b>
  <%=h @story.editorial_workflow_status %>
</p>

<p>
  <b>Publish date:</b>
  <%=h @story.publish_date %>
</p>

<p>
  <b>Published:</b>
  <%=h @story.published %>
</p>

<p>
  <b>Featured status:</b>
  <%=h @story.featured_status %>
</p>

<p>
  <b>Created at:</b>
  <%=h @story.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @story.updated_at %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>