<p>
  <b>Image:</b>
  <%=h @content_image.image_id %>
</p>

<p>
  <b>Imageable:</b>
  <%=h @content_image.imageable_id %>
</p>

<p>
  <b>Imageable type:</b>
  <%=h @content_image.imageable_type %>
</p>

<p>
  <b>Gallery name:</b>
  <%=h @content_image.gallery_name %>
</p>

<p>
  <b>Placement tag:</b>
  <%=h @content_image.placement_tag %>
</p>

<p>
  <b>Position:</b>
  <%=h @content_image.position %>
</p>

<p>
  <b>Image updated at:</b>
  <%=h @content_image.image_updated_at %>
</p>

<p>
  <b>Created at:</b>
  <%=h @content_image.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @content_image.updated_at %>
</p>


<%= link_to 'Edit', edit_content_image_path(@content_image) %> |
<%= link_to 'Back', content_images_path %>